# Ignore the .gitignore file itself
.gitignore

# Ignore virtual environment directory
venv/

# Ignore sensitive keys file
keys.py

# Ignore database file
telegram_bot.db

# Ignore Python cache directories
__pycache__/
*.pyc

# Ignore other common files and directories
.DS_Store
*.log
*.sqlite3
*.env